.pedigree {
    width: 100%;
    height: 1500px;
    border: 1px solid red;
    display: flex;
    overflow: scroll;
    z-index: 10;
    position: relative;
}

.pedigree__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}